/* hide from ie on mac \*/
html { height: 100%; }
/* end hide */
body {
	margin: 0; padding: 0; height: 100%;
	background-color: #C5A9A9;
}
#frame {
	left: center;
	top: center;
	width: 620px;
	height: 520px;
	padding: 25px;
	background-image: url("assets/images/pattern.gif");
	filters: json('[{ "type":"glow", "color":0, "alpha":1, "blurX":16, "blurY":16, "strength":1, "quality":1 }]');
}
#box {
	width: 570px;
	height: 470px;
	background-color: #FFFFFF;
	opacity: 0.9;
	shape: json('{ "type":"roundedComplex", "tl":0, "tr":8, "br":8, "bl":60 }');
}
#flexElement {
	height: 420px;
	overflow: hidden;
}